<h1>Albums for {{this.artist}}</h1>
{{#each results}}
<div class="album-card">
    <img src="{{this.img}}" alt="Album cover image">
    <h2>{{this.title}}</h2>
    <a href="/tracks/{{this.id}}">View tracks</a>
</div>
{{/each}}