{{#each results}}
    <section class="artist-card">
        <img src="{{this.img}}" alt="Artist image">
        <h2>{{this.artist}}</h2>
        <a href="{{this.link}}">View Albums</a>
    </section>
{{/each}}