<h1 class="page-title">Results by {{this.query}}</h1>
<div class="card-grid">
    {{#each results}}
        <div class="card">
            <img src="{{this.img}}" alt="Artist image">
            <h2>{{this.artist}}</h2>
            <a href="/albums/{{this.id}}">View Albums</a>
        </div>
    {{/each}}
</div>
