{{#each results}}
    <div class="artist-card">
        <img src="{{this.img}}" alt="Artist image">
        <h2>{{this.artist}}</h2>
        <a href="/albums/{{this.id}}">View Albums</a>
    </div>
{{/each}}