@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Layout */
body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.main-nav {
    background-color: #28231D;
    height: 7%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.main-nav a {
    color: #fffafa;
    text-decoration: none;
}
.page {
    height: 93%;
}
/* Home Page */
#home-page {
    background-image: url('/images/spotify-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#home-page form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 10%;
    padding: 5% 5%;
    background-color: rgba(40, 35, 29, .5);
    gap: 20%;
}
#home-page .text-input {
    height: 50%;
    font: inherit;
}
#home-page .submit-btn {
    height: 40%;
    width: 60%;
    align-self: center;
    background-color: #9A4D38;
    border: none;
    border-radius: 5px;
    color: #fffafa;
    font: inherit;
    padding: 10px;
}

/* Artis Search Results Page & Album List Page */
.page-title {
    font-size: 2.5rem;
    margin: 20px;
}
.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-grid .card {
    width: 250px;
    height: 250px;
    background-color: #28231D;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #28231D;
    border-radius: 5px;
}
.card-grid .card img {
    height: 70%;
    width: 70%;
}
.card-grid .card h2 {
    color: #fffafa;
    text-align: center;
}
.card-grid .card a {
    background-color: #9A4D38;
    text-decoration: none;
    color: #fffafa;
    padding: 3px;
    border-radius: 5px;
}

/* Track List Page */
.track-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    gap: 10px;
}
.track {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(40, 35, 29, .3);
}
.track h3 {
    font-size: 1.3rem;
}
.track audio {
    width: 60%;
}

/* Media Querys */
@media (max-width: 600px) {
    #home-page form {
        padding: 10% 5%;
    }
    #home-page .submit-btn {
        height: 60%;
        display: flex;
        align-items: center;
    }
    .track h3 {
        font-size: 1rem;
    }
    .track audio {
        width: 50%;
    }
}